@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: steelblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    display: grid;
    gap: 3rem;
    color: white;
}

form {
    display: grid;
    gap: 2rem;
}

h1 {
    text-align: center;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: lightblue;
}

.form-control {
    display: grid;
}

input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

input:focus {
    outline: 0;
}

input:focus ~ label {
    transform: translateY(-4rem);
    z-index: 0;
}

label {
    transform: translateY(-2.5rem);
    position: relative;
    z-index: -1;
    transition: transform 0.25s ease-out;
}
